
.DS_Store
05-classifying-profitable-plan/.ipynb_checkpoints/05-classifying-profitable-plan-checkpoint.ipynb
06-bank-customer-churn/.ipynb_checkpoints/06-bank-customer-churn-checkpoint.ipynb
07-oil-wells-location-research/.ipynb_checkpoints/07-oil-wells-location-research-checkpoint.ipynb
10-car-price-prediction/.ipynb_checkpoints/10-car-price-prediction-checkpoint.ipynb
11-taxi-orders-forecast/.ipynb_checkpoints/11-taxi-orders-forecast-checkpoint.ipynb
12-comments-classification/.ipynb_checkpoints/12-comments-classification-checkpoint.ipynb
13-airline-demand-research/.ipynb_checkpoints/13-airline-demand-research-checkpoint.ipynb
14-age-recognition/.ipynb_checkpoints/14-age-recognition-checkpoint.ipynb
08-gold-recovery-prediction/.ipynb_checkpoints/08-gold-recovery-prediction-checkpoint.ipynb
09-personal-data-protection/.ipynb_checkpoints/09-personal-data-protection-checkpoint.ipynb
15-telecom-project/.ipynb_checkpoints/15-telecom-project-checkpoint.ipynb
00-big-cities-music/.ipynb_checkpoints/00-big-cities-music-checkpoint.ipynb
01-borrowers-reliability-research/.ipynb_checkpoints/01-borrowers-reliability-research-checkpoint.ipynb
02-real-estate-market-analysis/.ipynb_checkpoints/02-real-estate-market-analysis-checkpoint.ipynb
03-telecom-rates-comparison/.ipynb_checkpoints/03-telecom-rates-comparison-checkpoint.ipynb
04-game-market-research/.ipynb_checkpoints/04-game-market-research-checkpoint.ipynb
